<div class="pagination">
  <div class="pagination__prev">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ paginator.next_page_path }}">&larr; Poprzednie</a>
    {% else %}
      <span class="pagination-item disabled">&larr; Poprzednie</span>
    {% endif %}
  </div>

  <div class="pagination__next">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">Nowsze &rarr;</a>
      {% else %}
        <a class="pagination-item" href="{{ paginator.previous_page_path }}">Nowsze &rarr;</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">Nowsze &rarr;</span>
    {% endif %}
  </div>
</div>
