.post__categories {
  font-size: .6rem;
}

.post__title {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.post__meta {
  font-family: 'Amiri', cursive;
  margin-bottom: .5rem;
  font-size: .9rem;
}

.post__content {
  margin-top: 4rem;
  margin-bottom: 3rem;
  line-height: 1.45;

  @media screen and (min-width: 1200px) {
    padding-left: 3rem;
  }
}
